<nav class="navigation" id="navigation">
    <div class="navigation__container container">
      <div class="navigation__logo">Bhromaon</div>
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#header">Who We Are</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#spain">What We Do</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#comment">Travel With Us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#footer">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>