<section class="section-spain">
    <div class="section-spain__top">
        <div class="section-spain__container--top container">
            <div class="section-spain__content--top">
                <span class="section-spain__slogan">Spain</span>
                <h2 class="section-spain__title">Grand Spain Madrid</h2>
                <p class="section-spain__text">But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system</p>
                <a class="section-spain__button button " href="">Book Now</a>
            </div>
    
        </div>
    </div>


    <div class="section-spain__bottom">
        <div class="section-spain__container--bottom container">
            <div class="section-spain__content--bottom">
                <span class="section-spain__slogan">Spain</span>
                <h2 class="section-spain__title">Grand Spain Madrid</h2>
                <p class="section-spain__text">But I must explain to you how all this mistaken idea of account to denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system</p>
                <a class="section-spain__button button " href="">Book Now</a>
            </div>
    
        </div>
    </div>
    

</section>