.header {
   font-family: $secondary-font;
   padding-top: 150px;
   background-image: url(../images/header-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   background-attachment: scroll;
   @include flex(center, center ,column);
   height: 100vh;
   @media screen and (min-width: $screen-desktop-large) {
    padding-top: 265px;
    height: auto;
    background-attachment: fixed;
   }
   &__title {
    @include text ($H500 , 700 ,$white);
    letter-spacing: 11px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 100px;
    @media screen and (min-width: $screen-desktop) {
        @include text ($H700 , 700 ,$white);
        margin-bottom: 17px;
    }
   }
   &__text {
    @include text ($H200 , 400 ,$white);
    line-height: 1.6;
    text-align: center;
    letter-spacing: 8px;
    margin-bottom: 50px;
    @media screen and (min-width: $screen-desktop) {
        @include text ($H400 , 400 ,$white);
        line-height: normal;
    }
   }
   
}