.button {
    @include text ($H100 , 400 ,$white);
    font-family: $base-font;
    text-transform: uppercase;
    background-color: $blue;
    padding: 20px 45px;
    transition: background-color 1s linear;
    &:hover {
        background-color: $button-hover;
    }
    
}