.form {
    margin: 0 10px 0 10px;
    margin-bottom: 100px;
    width: 80%;
    @media screen and (min-width: $screen-desktop) {
        margin: 0;
        width: auto;
        margin-bottom: 118px;
    }
    &__search {
        @include flex(flex-start, stretch ,row);
        width: 100%;
        height: 65px;
        border: 1px solid $white;
        background-color: $white;
        @media screen and (min-width: $screen-desktop) {
            width: 650px;
        }
    }
    &__input {
        display: block;
        @include text ($H10 , 700 ,$dark);
        letter-spacing: 1px;
        border: none;
        outline: none;
        appearance: none;
        width: 70%;
        text-align: center;
        &:focus {
            background-image: linear-gradient(to right, rgba(79, 88, 189, 0.69), rgba(70, 86, 194, 0.67), rgba(61, 83, 199, 0.65), rgba(52, 81, 204, 0.64), rgba(43, 78, 209, 0.62), rgba(34, 76, 214, 0.6), rgba(39, 73, 209, 0.58), rgba(43, 69, 203, 0.56), rgba(48, 66, 198, 0.53), rgba(53, 63, 192, 0.51), rgba(57, 59, 187, 0.49), rgba(62, 56, 181, 0.47));
            @include text ($H300 , 700 ,$dark);
            font-family: $secondary-font;
        }
        &::placeholder {
            color: transparent;
            @media screen and (min-width: $screen-desktop) {
            font-family: $secondary-font;
            letter-spacing: 3px;
            color: $grey;
         }
        }
        &:focus::-webkit-input-placeholder {
            color: transparent;
        }
    }
    &__button {
     display: block;
     @include text ($H50 , 400 ,$white);
     text-transform: uppercase;
     letter-spacing: 2px;
     border: none;
     outline: none;
     cursor: pointer;
     width: 30%;
     
     background-color: $blue;
     transition: background-color 1s linear;
     &:hover {
         background-color: $button-hover;
     }
    }
}