.form {
    margin: 0 10px 0 10px;
    margin-bottom: 100px;
    width: 80%;
    @media screen and (min-width: $screen-desktop) {
        margin: 0;
        width: auto;
        margin-bottom: 118px;
    }
    &__search {
        @include flex(flex-start, stretch ,row);
        width: 100%;
        height: 65px;
        border: 1px solid $white;
        background-color: $white;
        @media screen and (min-width: $screen-desktop) {
            width: 650px;
            
        }
    }
    &__input {
        display: block;
        @include text ($H10 , 700 ,$dark);
        letter-spacing: 1px;
        border: none;
        outline: none;
        appearance: none;
        width: 70%;
        text-align: center;
        &::placeholder {
            color: transparent;
            @media screen and (min-width: $screen-desktop) {
            font-family: $secondary-font;
            letter-spacing: 3px;
            color: $grey;
         }
         

        }
        &:focus::-webkit-input-placeholder {
            color: transparent;
        }
    }
    &__button {
     display: block;
     @include text ($H50 , 400 ,$white);
     text-transform: uppercase;
     letter-spacing: 2px;
     border: none;
     outline: none;
     cursor: pointer;
     width: 30%;
     
     background-color: $blue;
     transition: background-color 1s linear;
     &:hover {
         background-color: $button-hover;
     }
    }
}